{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Liste des tricks
{% endblock %}

{% block body %}
	<section id="homepage-img">
		<div class="homepage-band">
			<h2 class="homepage-band-text">Board to be wild...</h2>
		</div>
		<a href="#trick-list">
			<i class="bi bi-arrow-down-square"></i>
		</a>
	</section>
	<section id="trick-list">
		<h1>Liste des tricks</h1>
	</section>

	{% for trick in tricks %}
		<h2 class="trick-name">{{trick.name}}</h2>
	{% endfor %}
{% endblock %}
