/* GLOBLAL */

/* NAVBAR */
.navbar{
    background-color: #efebda;
    position: fixed;
    width: 100%;
    
}
.nav-links{
    margin: auto 100px auto 0px;
}

.nav-links> ul{
    display: flex;
    flex-direction: row;
}

.nav-link{
    padding: 5px;
}
.nav-link-icon{
    font-size: 2em;
}


.navbar>div>a,
.navbar>div>div>ul>li>a{
    text-decoration: none;
    color: black;
}

/* FOOTER */
#footer{
    background-color: #efebda;
    height: 50px;
}

.copyright{
    margin-left: 30px;
    padding-top: 20px;
}
.copyright>h5{
    font-size: 16px;
}

/* HOMEPAGE */
section#homepage-img{
    height: 100vh;
    width: 100%;
    background-image: url('/img/homepage.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage-band{
    position: relative;
    top: 50%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

.homepage-band-text{
    color: #efebda;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
}


#trick-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.trick-list-scroll-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    margin-bottom: 80px;
}

.bi-arrow-up-square,
.bi-arrow-down-square
{
    font-size: 3em;
    color: black;

}

.trick-list-bottom{
    margin : 30px auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* MEDIA QUERIES*/

@media (max-width:992px){
    .no_mobile{
        display: none;
    }
    .navbar{
        width: 100%;
        position: fixed;
        bottom: 0px;
        z-index: 999;
        padding: 0px;
    }

    .nav-links{
        margin: 0px;
        width: 100%;
    }
    .nav-links>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 992px) {
    .nav-link::after{
        content: "|";
    }
    .nav-link-icon{
        display: none;
    }
    .trick-list-scroll-btn {
        margin-bottom: 0px;
    }    
}
